[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

zappa = "*"
awscli = "*"
pylint = "*"
"autopep8" = "*"
ipython = "*"
flask-testing = "*"


[packages]

simplejson = "*"
flask = "*"
flask-mysql = "*"
flask-env = "*"
flask-sqlalchemy = "*"
mysql-python = "*"
flask-cors = "*"
